.container {
    height: 100vh;
    display: flex;

    &__backTo {
        height: 100%;
        width: 64px;

        border-right: 1px solid #EAEAEA;
        background: #FBFBFB;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 28px;
            height: 28px;
        }
    }

    &__profile {
        height: 100%;
        padding: 0 320px;
        box-sizing: border-box;

        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;

        &__imgContainer {
            position: relative;

            height: 130px;
            width: 130px;

            margin-top: 60px;
            margin-bottom: 21px;

            &:hover .container__profile__imgContainer__hover {
                visibility: visible;
            }

            &__hover {
                position: absolute;
                top: 0;
                left: 0;

                width: 130px;
                height: 130px;

                border-radius: 50%;
                background: #000000;
                opacity: 0.5;

                display: flex;
                justify-content: center;
                align-items: center;

                visibility: hidden;

                span {
                    width: 50%;

                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 13px;
                    color: #FFFFFF;
                    text-align: center;

                    z-index: 2;

                    display: inline-block;
                }
            }
        }

        &__name {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #1E1E1E;
        }

        &__formContainer {
            width: 100%;
            margin: 60px 0;
        }

        &__settings {
            width: 100%;

            &__changeData,
            &__changePassword,
            &__exit {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 13px;
            }

            &__changeData,
            &__changePassword {
                padding-bottom: 10px;
                margin-bottom: 10px;

                border-bottom: 1px solid#EAEAEA;

                color: #3369F3;
            }

            &__exit {
                color: #FF0000;
            }
        }

        &__buttonContainer {
            width: 30%;
        }
    }
}