---
{
img: "/static/img/profilePage/icon.svg",
name: "Иван",
form: {
    info: [
        {
            label: "Почта",
            value: "pochta@yandex.ru",
            inputText: "text",
            name: "email",
        },
        {
            label: "Логин",
            value: "ivanivanov",
            inputText: "text",
            name: "login",
        },
        {
            label: "Имя",
            value: "Иван",
            inputText: "text",
            name: "first_name",
        },
        {
            label: "Фамилия",
            value: "Иванов",
            inputText: "text",
            name: "second_name",
        },
        {
            label: "Имя в чате",
            value: "Иван",
            inputText: "text",
            name: "display_name",
        },
        {
            label: "Телефон",
            value: "+7 (909) 967 30 30",
            inputText: "text",
            name: "phone",
        },
    ],
    password: [
        {
            label: "Старый пароль",
            value: "12345",
            inputType: "password",
            name: "oldPassword",
        },
        {
            label: "Новый пароль",
            value: "12345",
            inputType: "password",
            name: "newPassword",
        },
        {
            label: "Повторите новый пароль пароль",
            value: "12345",
            inputType: "password",
        }
    ],
},
settings: {
    noActions: false,
},
popup: {
    action: {
        error: true,
        text: "Загрузите файл",
    },
    content: {
        link: false,
        text: "Выберите файл на компьютере",
    },
    needToChooseFile: {
        need: true,
        text: "Нужно выбрать файл"
    }
}
}
---
<html>

<head>
    <link rel="stylesheet" href="./profile.scss">
    <link rel="stylesheet" href="/src/styles/profilePageInput.scss">
    <link rel="stylesheet" href="/src/styles/profilePageForm.scss">
    <link rel="stylesheet" href="/src/styles/button.scss">
    <link rel="stylesheet" href="/src/styles/profilePagePopup.scss">
</head>

<body>
    <div class="container">
        <div class="container__backTo">
            <a href="/src/index.hbs">
                <img src="/static/img/profilePage/backTo.svg">
            </a>
        </div>

        <div class="container__profile">
            <div class="container__profile__imgContainer">
                <img src='{{img}}'>
                <div class="container__profile__imgContainer__hover">
                    <span name="avatar">Поменять аватар</span>
                </div>
            </div>
            {{#if settings.noActions}}
                <span class="container__profile__name">{{name}}</span>
            {{/if}}
                <div class="container__profile__formContainer">
                    {{> profilePageForm data = form.password}}
                </div>
            {{#if settings.noActions}}
                <div class="container__profile__settings">
                    <div class="container__profile__settings__changeData">
                        <span>Изменить данные</span>
                    </div>
                    <div class="container__profile__settings__changePassword">
                        <span>Изменить пароль</span>
                    </div>
                    <div class="container__profile__settings__exit">
                        <span>Выйти</span>
                    </div>
                </div>
            {{/if}}
            <div class="container__profile__buttonContainer">
                {{> button text = "Сохранить"}}
            </div>
        </div>

        {{> profilePagePopup action=popup.action content=popup.content needToChooseFile=popup.needToChooseFile}}
    </div>
</body>

</html>