.dialog {
    position: relative;

    padding: 10px 20px 0 20px;

    &__header {
        height: 54px;
        padding: 10px 0;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;

        &__profile {
            height: 100%;
            display: flex;
            align-items: center;

            &__img {
                height: 100%;
                width: 34px;
                margin-right: 10px;

                border-radius: 50%;

                background: #EFEFEF;
            }

            &__name {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 600;
                font-size: 13px;

                color: #1E1E1E;
            }
        }

        &__actions {
            position: relative;

            margin-right: 11px;

            display: flex;
            align-items: center;

            &:hover {
                .dialog__header__actions__dropDownList {
                    visibility: visible;
                }
            }

            img {
                width: 15px;
                height: 15px;
            }

            &__dropDownList {
                position: absolute;
                bottom: -110px;
                right: 0;

                width: 210px;
                height: 90px;

                background: #FFFFFF;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
                border-radius: 12px;

                // visibility: hidden;
                z-index: 2;

                display: flex;
                flex-direction: column;
                justify-content: space-around;

                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color: #1E1E1E;
                }

                &__addUser,
                &__removeUser {
                    display: flex;
                    align-items: center;

                    img {
                        height: 22px;
                        margin: 0 15px;
                    }
                }
            }
        }
    }

    &__content {
        height: calc(100% - 54px - 54px - 48px - 30px - 10px - 2px);
        padding-top: 48px;
        padding-bottom: 30px;

        border-top: 1px solid #EAEAEA;
        border-bottom: 1px solid #EAEAEA;

        overflow-y: auto;

        &__date {
            margin-top: 0;
            margin-bottom: 30px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 12px;
            text-align: center;
            color: #999999;
        }

        &__otherMessage,
        &__ownMessage {
            margin-bottom: 10px;

            display: flex;

            &__text {
                position: relative;

                max-width: 40%;
                padding: 11px;
                box-sizing: border-box;

                border-radius: 5px;

                display: inline-block;
            }

            &__empty {
                width: 33px;

                display: inline-block;
            }

            &__time {
                position: absolute;
                bottom: 11px;
                right: 11px;

                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 9px;
            }

            &__imgContainer {
                position: relative;
            }
        }

        &__otherMessage {
            justify-content: flex-start;

            &__text {
                background: #F8F8F8;
            }

            &__time {
                color: #999999;
            }
        }

        &__ownMessage {
            text-align: end;

            justify-content: flex-end;

            &__text {
                background: #E4EDFD;
            }

            &__time {
                color: #3369F3;
            }
        }

    }

    &__messageSend {
        height: 54px;
        padding: 11px 0;
        box-sizing: border-box;

        display: flex;

        &__files {
            height: 100%;
            width: 32px;
            margin-right: 12px;
        }

        input {
            height: 100%;
            background: #EFEFEF;
            border-radius: 30px;

            border: none;
            outline: none;

            flex-grow: 1;
        }

        &__buttonSend {
            margin-left: 10px;
        }

        &__dropDownListContainer {
            position: relative;

            &:hover {
                .dialog__messageSend__dropDownListContainer__dropDownList {
                    visibility: visible;
                }
            }

            &__dropDownList {
                position: absolute;
                top: -152px;
                left: 0;

                width: 162px;
                height: 128px;

                background: #FFFFFF;
                box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
                border-radius: 12px;

                // visibility: hidden;
                z-index: 2;

                display: flex;
                flex-direction: column;
                justify-content: space-around;

                span {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 12px;
                    color: #1E1E1E;
                }

                &__photoVideo,
                &__file,
                &__location {
                    display: flex;
                    align-items: center;

                    img {
                        height: 22px;
                        margin: 0 15px;
                    }
                }
            }
        }
    }
}