.profilePageInput {
    border-bottom: 1px solid#EAEAEA;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;

    &:not(:last-of-type) {
        margin-bottom: 10px;
    }

    label {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #1E1E1E;
    }

    input {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        color: #999999;
        text-align: right;

        border: none;
        outline: none;
    }
}