<html>
    <head>
        <link rel="stylesheet" href="/src/styles/errorPage.scss">
    </head>
    <body>
        {{> errorPage status = "404" message = "Не туда попали"}}        
    </body>
</html>