<div class="addDeleteUser">
    <p class="addDeleteUser__title">{{data}} пользователя</p>
    <label class="addDeleteUser__label" for="login">Логин</label>
    <input type="text" id="login">
    {{> button text=data }}
    {{!-- <button class="addDeleteUser__button">{{data}}</button> --}}
</div>