<div class="dialogPageInput">
    <label class="dialogPageInput__label" for="email">{{data.label}}</label>
    <input class="dialogPageInput__input" type="text" id="email" value='{{data.value}}'>
</div>