<div class="dialogPagePopup">
    <p class="dialogPagePopup__title">{{data}} пользователя</p>
    <label class="addDeleteUser__label" for="login">Логин</label>
    <input type="text" id="login">
    {{> button text=data }}
</div>