<div class="errorPage">
    <span class="errorPage__status">{{status}}</span>
    <span class="errorPage__text">{{message}}</span>

    <a class="errorPage__backLink" href="/src/pages/dialogs/dialogs.hbs">Назад к чатам</a>
</div>