<div class="profilePageInput">
    <label class="profilePageInput__label" for="email">{{data.label}}</label>
    <input class="profilePageInput__input" type='{{data.inputType}}' id="email" value='{{data.value}}' name='{{data.name}}'>
</div>