<html>
    <head>
        <link rel="stylesheet" href="./style.scss">
    </head>
    <body>
        <div class="container">
            <form class="container__form">
                <p class="container__form__title">Вход</p>
                <input type="text" id="email" placeholder="Логин">
                <input type="password" id="password" placeholder="Пароль">
                <button>Авторизоваться</button>
                <a href="">Нет аккаунта?</a>
            </form>
        </div>
    </body>
</html>