---
variable: Hello world
---
<html>

<head>
    <script type="module" src="/src/index.js"></script>
</head>

<body>
  <div class="main">{{ variable }}</div>

  <a href="/src/pages/auth/signin/signin.hbs">Вход</a>
  <a href="/src/pages/auth/signup/signup.hbs">Регистрация</a>
  <a href="/src/pages/dialogs/dialogs.hbs">Диалоги</a>
  <a href="/src/pages/profile/profile.hbs">Профиль</a>
</body>

</html>